* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: black;
    background-color: lightcyan;
    text-align:center; 
    background-image:url("../img/ExtensionPhotoshop_Image.png");
    background-position: right center;
    background-size:50% auto;
    background-repeat:no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: 220px;
    width: auto;
}

a {
    color: mediumblue;
    text-decoration: none;
    font-family: Merriweather, serif;
    font-weight: 400;
    font-size: 1.2rem;
}

a:hover {
    color: darkolivegreen;
}
a:visited{
    color:blueviolet;
}
li{
    list-style-type:none;
}
h1{
    color:blueviolet;
    font-size:42px;
    font-family:roboto;
}
h2{
    font-family:roboto;
    border:2px solid red;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}
