* {
    box-sizing: border-box;
}
body {
    margin: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: black;
    background-color: lightcyan;
    text-align:center; 
    background-image:url("../img/ExtensionPhotoshop_Image.png");
    background-position: right center;
    background-size:35% auto;
    background-repeat:no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
img {
    max-width: 40%;
    max-height: 40%;
    width: auto;
}
a:link {
    color: mediumblue;
    text-decoration: none;
    font-family: Merriweather, serif;
    font-weight: 400;
    font-size: 1.2rem;
}
a:visited{
    color:blueviolet;
}
a:hover {
    color: darkolivegreen;
}
li{
    list-style-type:none;
}
h1{
    color:blueviolet;
    font-size:42px;
    font-family:roboto;
}
h2{
    font-family:roboto;
    border:2px solid red;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}
#experiences, #formation, #competences{
    border:2px solid black;
    background-color:blue;
    color:white;
    padding:20px;
}
p{
    text-align:center;
    font-style: italic;
    color: darkgreen;
}
.experience, .competences, .formation{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.menu ul{
    list-style-type: none;
    padding:0px;
    margin:0px;
    background-color: rgba(255, 255, 255, 0.1);
}
.menu a{
    padding:20px;
    display:block;
    text-align:center;
}
.menu a:hover{
    backdrop-filter:blur(10px);
    font-size: 30px;
}
footer{
    padding:0px;
    border: 2px solid black;
    background-color:black;
    color:white;
}
footer a{
    color:red;
}
footer a:hover{
    color:orange;
    font-size:20px;
}
