* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: black;
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: mediumblue;
    text-decoration: none;
    font-family: Merriweather, serif;
    font-weight: 400;
    font-size: 1.2rem;
}

a:hover {
    color: darkolivegreen;
}
