* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: black;
    background-color: white;
    text-align:center; 
    background-image:url("../img/the-simpsons-logo-png_seeklogo-139134.png")
    background-position: center;
    background-size:cover;
}

img {
    max-width: 100%;
    height: 220px;
    width: auto;
}

a {
    color: mediumblue;
    text-decoration: none;
    font-family: Merriweather, serif;
    font-weight: 400;
    font-size: 1.2rem;
}

a:hover {
    color: darkolivegreen;
}
a:visited{
    color:blueviolet;
}
li{
    list-style-type:none;
}
background
